
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    /* padding: 0px 0; */
}

    /* header start */
header{
    background-color: beige;
    
}
.header_container{
    
    width: 1000px;       
    margin: 0 auto;
    /* position: sticky; */
}
.announcment{
    background-color: rgb(122 151 146);
    border-radius: 10px;
    border-bottom: 1px solid #161e46;
}
.announcment h2{

    font-size: 21px;
    cursor: pointer;
    color: #ffff;
    letter-spacing: 4px;
}
.menubar{
    padding: 17px 0;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    flex-basis: 10%;
}
.logo h2{
    cursor: pointer;
    font-family: serif;
    color: #2C3E50;
    font-size: 37px;
    font-weight: 900;
}
.menubar_list{
    flex-basis: 75%;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 400;
    /* padding: 10px; */
    text-align: center;
    text-transform: capitalize;
}
.menubar_list ul{
    list-style: none;
}
.menubar_list ul li{
    display: inline-block;
}
.menubar_list ul li a{
    text-decoration: none;
    padding: 19px;
    color: #2C3E50;
    /* transition: .1s; */
}
.menubar_list ul li a:hover{
    background-color: #2C3E50;
    color: #ffff;
    border-radius: 10px;
}
.icon{
    flex-basis: 15%;
    text-align: center;
    font-size: 24px;
    color: #2C3E50;
}
.icon ul{
    list-style: none;
    /* color: white; */
}
.icon ul li{
    text-decoration: none;
    display: inline-block;
    color: #2C3E50;
}
.icon ul li a{
    color:#2C3E50 ;
    padding: 6px;
}
.icon ul li a:hover{
    background-color: #2C3E50;
    color: #ffff;
    border-radius: 10px;
}
    /* header End */
    /* <!-- banner side start--> */
.banner_img{
    width: 100%;
}
.banner_img:hover{
opacity: 0.7;

}
/* <!-- banner side end */
    /* product side start */

.product{

}
.product_container{
    width: 1000px;
    margin: 0 auto;

}
.shop{
    background-color: #dbdbdb75;
    border-radius: 10px;
}
.shop h2{
    font-family: sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #2C3E50;
    text-align: center;
}

.product_img{
    display: flex;
    flex-wrap: wrap;
    padding: 19px 0;
}
.cullum_1{
    flex-basis: 25%;
}
.cullum_1 img{
    cursor: pointer;
}
.cullum_1 button{
    font-size: 21px;
    padding: 8px;
    margin-left: 53px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #2862bd;
    cursor: pointer;
    
}
.cullum_1 img:hover{
    opacity: 0.7;
}

.cullum_1 button:hover{
    opacity: 0.7;
}
/* product side End */

.seen{

}
.seen_container{
    width: 1000px;
    margin: 0 auto;
}
.seen h2{
   text-align: center;
   padding: 24px 0;
   font-size: 47px;
   font-family: sans-serif;
   font-weight: 900;
   color: #2C3E50;
   letter-spacing: 4px;
   text-transform: capitalize;
}



/* <!-- people section start --> */
.people{
    background-color: #e8e8f28f;
}
.people-container{
    width: 1000px;
    margin: 0 auto;
    padding: 28px 0;
}
.better{

}
.better h2{
    text-align: center;
    color: #2C3E50;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 35px;
}
.people_tex{
    padding: 17px 0;
    display: flex;
    flex-wrap: wrap;
    padding: 36px 0;
    justify-content: space-around;
}
.people_tex p{
    padding-top: 21px 0;
    flex-basis: 45%;
    font-family: sans-serif;
    line-height: 26px;
    font-size: 19px;
    color: #2C3E50;
}
.people_tex img{
    width: 100%;
    flex-basis: 45%;
    height: 500px;
}
.people_button{
          margin-top: -62px;
    
}
.people_button button{
    padding: 14px 39px;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background-color: #24ACF2;
    color: white;
    margin-left: 127px;
    text-transform: uppercase;
    cursor: pointer;
}
.people_button button:hover{
    opacity: 0.7;
}

/* <!-- people section End --> */


.about{
    background-color: #E8E8F2;
}
.about_container{
    width: 1000px;
    margin:  0px auto;
    padding: 22px;
}
.headlin{

}
.headlin h2{  
        font-family: sans-serif;
        font-size: 34px;
        font-weight: 800;
        text-align: center;
        letter-spacing: 3px;
        color: #2C3E50;
}
.a_collum{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}
.about_collum{
    border-radius: 25px;
    flex-basis: 33.33%;
    justify-content:space-evenly;
    text-align: center;
    padding: 16px 16px;
    background-color: #e5f1f16b;
    border-right: 8px solid #7e7a7aad;
}
.about_collum a{

}
.about_collum img{
    width: 105px;
}
.about_collum h2{

    font-family: sans-serif;
    font-size: 21px;
    color: #2C3E50;
    padding: 21px 0;
}
.about_collum p{
    font-family: sans-serif;
    font-size: 17px;
    line-height: 25px;
    color: #161718b5;
    }


  /* our team member start   */

.team{
    padding-bottom: 40px;
}
.team_container{
    width: 1000px;
    margin: 0 auto;
    background-color: #ffff;
}
.team_hand{
    padding: 15px 0;
}
.team_hand h2{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: #2C3E50;
    text-align: center;
}
.team_list{
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
}
.team_member{
    text-align: center;
    flex-basis: 33.33%;
    padding: 0 24px;
}
.team_member img{

    width: 139px;
}
.team_member h2{
    padding: 25px 0;
    font-family: sans-serif;
    font-size: 21px;
    color: #2C3E50;
    line-height: 33px;
}
.team_member p{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 31px;
    color: #2c3e50cf;
}
.team_shop{   
    margin-left: 398px;
    background-color: #26B2F3;
    padding: 9px 25px;
    border-radius: 10px;
    display: inline-block;
}
.team_shop a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 900;
    text-align: center;
}
.team_shop a:hover{
    
}
  /* our team member start   */

    /* Footer section start  */

footer{
   background-color: #E8E8F2;
   padding: 10px 0;
}
.footer_container{
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}
.fotter_flex{
    display: flex;
    flex-wrap: wrap;
}

.footer_content{
    flex-basis: 25%;
}
.footer_content h2{
    font-family: sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: #2B3D4F;
    }

.footer_content ul{
    list-style: none;
}
.footer_content ul li{
    
}
.footer_content ul li a{ 
    text-decoration: none;   
    font-size: 19px;   
    font-family: sans-serif;   
    font-weight: 400;   
    color: #2b3d4fc7;  
    line-height: 40px;
}
.footer_content ul li a:hover{
    opacity: 0.7;
}
.footer_content h3{
    font-weight: 600;
    font-size: 24px;
    color: #2B3D4F;
    padding: 13px 0;
}
.footer_content input{
    font-size: 14px;
    padding: 8px 24px;
    border: 1px solid black;
    border-radius: 7px;
}
.footer_content button{
   
    font-size: 21px;
    background-color: #3383fb;
    padding: 3px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 .footer_content button:hover{
    opacity: 0.7;
 }

.footer_p{
    text-align: center;
    padding: 51px 149px;

}
.footer_p p{
    color: #2b3d4f;
    border: 2px solid #2B3D4F;
    padding: 12px;
    font-size: 17px;
    font-weight: 800;
}
.footer_info{
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    color: #2b3d4f;
 }
.footer_info p{

}

      /* footer end */